<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'NasaMarsPhotos.Web' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>0fb3f6f0-df5f-4b9c-aa23-c498fac17fcf</InstrumentationKey>
</ApplicationInsights>