@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This demo project uses ASP.NET MVC for the front-end with a small data service wrapping the public API being consumed. The source code is available on 
    <a href="https://github.com/inchbuie/NasaApiSandbox/tree/master/NasaApiSandbox">GitHub</a></p>
