@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Incbhuie Software<br />
    Austin, TX<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:edward@inchbuie.net">edward@inchbuie.net</a><br />
</address>