@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NASA Mars Rover Photo Explorer</h1>
    <p class="lead">This is a demonstration of consuming the NASA Mars Photos API using .NET</p>
    <p><a href="https://api.nasa.gov/index.html" class="btn btn-info">Visit NASA's Open APIs Page &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can explore NASA's database of photos from the Mars rovers by using this
            website to make requests from the free public API and view the results
        </p>
        <p>
             @Html.ActionLink("Begin Exploring", "Index", "Explore", null, new { @class = "btn btn-primary btn-lg" })
         @* <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@
        </p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>