<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="yzsB8kBURdRxbNQxB98x0COVfsyc46BwY6NMG4Lt" />
    <add key="NasaUriHost" value="api.nasa.gov" />
    <add key="MarsRoversBasePath" value="mars-photos/api/v1/rovers" />
  </appSettings>
</configuration>